<article>
  <p>
    Hey there! This is my not so interesting blog. I say that because like 99% of the time when
    I visit a blog site the articles are pretty trivial and seem like "Baby's first programming"
    type stuff.
  </p>

  <p>
    I do not wish to curse you with that sort of trite nonsense, so, hopefully my rants and raves
    are somewhat interesting. If not, don't read my blog. That's about it.
  </p>
</article>